.contact {
  min-height: 700px;
  padding-top: 60px;
  background-image: url("../img/contacts/contacts.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;

  @media (max-width: $tablet-width) {
    min-height: auto;
    padding-top: 52px;
    padding-bottom: 111px;
    background-image: url("../img/contacts/contacts-tablet.jpg");
    background-size: cover;
  }
}

.page--light-theme .contact {
  background-image: url("../img/contacts/contacts-light.jpg");

  @media (max-width: $tablet-width) {
    background-image: url("../img/contacts/contacts-tablet-light.jpg");
  }
}

.contact__column {
  max-width: 450px;
  margin-left: auto;

  @media (max-width: $tablet-width) {
    margin-right: auto;
  }
}

.contact__title {
  justify-content: start;
  width: 100%;

  @media (max-width: $tablet-width) {
    justify-content: center;
    margin-bottom: 32px;
  }

  &::before,
  &::after {
    display: none;
  }
}

.contact__form {
}

.contact__input {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 20px;
  border: 2px solid var(--special);
  color: var(--special-to-black);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 46px;
  background-color: var(--basic-black-a50);

  &::placeholder {
    color: var(--special-to-black);
  }

  &--textarea {
    height: 100px;
    resize: vertical;
  }
}

.contact__button {
  border-color: var(--special-to-white);
  background-color: var(--special-to-white);

  &:hover,
  &:focus {
    border-color: var(--special-to-black);
  }

  @media (max-width: $tablet-width) {
    margin: 0 auto;
  }
}
