.wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 15px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 50px;
  list-style: none;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: -620px;
    z-index: 2;
    flex-direction: column;
    width: 100%;
    max-width: 620px;
    height: 100vh;
    padding-top: 13px;
    padding-left: 127px;
    font-size: 35px;
    line-height: 73px;
    background-color: var(--basic-black);
    visibility: hidden;
    transition: right 200ms ease 0s, visibility 0ms 200ms;
  }

  @media (max-width: 450px) {
    padding-top: 25px;
    padding-left: 80px;
    font-size: 21px;
    line-height: 30px;
  }

  &--open {
    @media (max-width: $tablet-width) {
      right: 0;
      box-shadow: -50vw 0 0 rgb(0 0 0 / 50%);
      visibility: visible;
      transition: right 200ms ease 0s, visibility 0ms 0ms;

      // transition: none;
      // transition: right 200ms ease 0s, visibility 0ms 200ms;
    }
  }
}

.nav__item {
}

.nav__link {
  display: block;
  padding: 5px;

  &:hover,
  &:focus {
    color: var(--special);
  }
  transition: color 200ms ease 0s;
}

/* ------------------------------------*|
  #toggle
/*------------------------------------ */

.nav__toggle {
  position: relative;
  z-index: 3;
  display: none;
  order: 2;
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.nav__toggle-line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--basic-white);

  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    content: "";
    background-color: var(--basic-white);
    transition: all 100ms ease 0s;
  }

  &::before {
    top: 11px;
  }

  &::after {
    bottom: 11px;
  }
}

.nav__toggle--open .nav__toggle-line {
  background-color: transparent;

  &::before {
    transform: rotate(-45deg) translate(-7px, 10px);
  }

  &::after {
    transform: rotate(45deg) translate(-7px, -10px);
  }
}
