.lang-switcher {
  display: flex;
  align-items: center;
  gap: 10px;
}

.lang-switcher__button {
  padding: 0;
  color: var(--basic-white);
  font-size: 20px;
  line-height: 50px;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--special-to-white);
  }
  transition: color 200ms ease 0s;
}

.lang-switcher__button--active {
  color: var(--special-to-white);
}
