.skills {
  margin-bottom: 10px;

  @media (max-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (max-width: 500px) {
    margin-bottom: 0;
  }
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  text-align: center;
  list-style: none;

  @media (max-width: $laptop-width) {
    grid-template-columns: repeat(2, auto);
    row-gap: 36px;
    column-gap: 44px;
  }

  @media (max-width: $tablet-width) {
    margin-top: -15px;
  }

  @media (max-width: 760px) {
    grid-template-columns: auto;
  }
}

.skills__item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 320px;
  min-height: 230px;
  padding: 0 20px;
  background-repeat: no-repeat;
  background-position: center 0;

  &--photography {
    background-image: url("../img/skills/camera.svg");
  }

  &--video {
    background-image: url("../img/skills/video.svg");
  }

  &--retouch {
    background-image: url("../img/skills/image.svg");
  }

  &--audio {
    background-image: url("../img/skills/mic.svg");
  }

  @media (max-width: $laptop-width) {
    width: 300px;
    min-height: 224px;
    padding-right: 10px;
    padding-bottom: 40px;
    padding-left: 10px;
  }

  @media (max-width: 760px) {
    min-height: 200px;
  }

  @media (max-width: 430px) {
    width: 280px;
    min-height: 150px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 0;
  }
}

.skills__heading {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 40px;

  @media (max-width: 760px) {
    margin-bottom: 10px;
  }

  @media (max-width: 430px) {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 32px;
  }
}

.skills__text {
  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 22px;
  }
}
